@import 'bootstrap';

.bo {
border-right: dotted dimgray;
}

.menu {
  position: relative;
  color: dimgray;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
}
.menu:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid dimgray;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}





.menulink,.menulink:hover,.menulink:visited{
  color: inherit;
  color: dimgray;
}