<div class="container-fluid p-5">
    <h1 class="display-4"><strong>Mie-Loss</strong>　<i class="fa-solid fa-apple-whole"></i></h1>
    <p><font color="dimgray" size="4" face="Italic">- あなたの冷蔵庫内を見える化 -</font></p>
    <hr class="my-4">
</div>