<div class="container ml-3">
  <h5 class="menu">メニュー</h5>
  <div class="row mt-4 ml-2">
    <%= link_to "冷蔵庫一覧", refrigerator_path, class:"m-2 menulink" %>
  </div>
  <div class="row ml-2">
    <%= link_to "冷蔵庫ジャンル別", genre_path, class:"m-2 menulink" %>
  </div>
  <div class="row ml-2">
    <%= link_to "おすすめレシピ", recipe_path, class:"m-2 menulink" %>
  </div>
</div>